In [1]:
import pandas as pd 
import numpy as ny
import seaborn as sns

In [2]:
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
df.shape

(344, 7)

In [5]:
df.info

<bound method DataFrame.info of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]>

In [6]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [9]:
pd.get_dummies(df['sex']).head()

   Female   Male
0   False   True
1    True  False
2    True  False
4    True  False
5   False   True

In [10]:
df['sex'] = pd.get_dummies(df['sex'], drop_first=True)

In [11]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,True
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,False
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,False
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,False
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,True

In [12]:
df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [14]:
get_island_value={
    'Torgersen': 0,
    'Biscoe': 1,
    'Dream': 2
}

df['island'] = df['island'].map(get_island_value)

In [21]:
df.head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,0,39.1,18.7,181.0,3750.0,True
1,Adelie,0,39.5,17.4,186.0,3800.0,False
2,Adelie,0,40.3,18.0,195.0,3250.0,False
4,Adelie,0,36.7,19.3,193.0,3450.0,False
5,Adelie,0,39.3,20.6,190.0,3650.0,True

In [19]:
df.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [20]:
get_species={
    'Adelie': 0,
    'Chinstrap': 1,
    'Gentoo': 2
}
y = df['species'].map(get_species)

In [ ]:
df.drop('species',axis=1,inplace=True)

In [29]:
df.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,39.1,18.7,181.0,3750.0,True
1,0,39.5,17.4,186.0,3800.0,False
2,0,40.3,18.0,195.0,3250.0,False
4,0,36.7,19.3,193.0,3450.0,False
5,0,39.3,20.6,190.0,3650.0,True

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df,y,test_size=0.25,random_state= 42)

In [32]:
print('shape of x_train',x_train.shape)
print('shape of x_test',x_test.shape)
print('shape of y_train',y_train.shape)
print('shape of y_test',y_test.shape)

shape of x_train (249, 6)
shape of x_test (84, 6)
shape of y_train (249,)
shape of y_test (84,)

In [33]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
model = classifier.fit(x_train,y_train)

In [34]:
y_pred = model.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score,confusion_matrix
print('accuracy score:', accuracy_score(y_pred,y_test))
print("confusion matrix:", confusion_matrix(y_pred,y_test))

accuracy score: 0.9880952380952381
confusion matrix: [[40  1  0]
 [ 0 14  0]
 [ 0  0 29]]